* {
  font-family: Roboto;
}

/* Header */

.login-page {
  display: block;

  position: relative;
  padding-bottom: 5px;
}

.login-page-bg{
  background: linear-gradient(180deg, #f0dce4 0%, #e0dce4 59%, #e0dce4 73.6%, #e0dce4 100%);
  height: 90vh;
}

.header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.header-logo-bold {
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  color: #716b6b;
}
.header-logo-text-regular {
  font-family: 400;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-button {
  font-weight: 400;
  font-size: 18px;
  color: #716b6b;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 6px 20px;
  min-width: 90px;
  text-align: center;
  cursor: pointer;
}

.nav-button.focus{
  border: 1px solid #FF2D2D;

}

.status-form-login{
  font-weight: 400;
  font-size: 18px;
  color: transparent;
  margin: -8px 10px;
  color: red;
  min-height: 42px;
}

/* Header End */

/* Main Content */

.login-page-main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1225px;
  margin: 0px auto;
  padding: 80px 10px 80px;
}
.login-page-main-img {
  max-width: 365px;
}
.login-page-main-text {
  display: flex;
  flex-direction: column;
}
.login-page-main-text-title {
  font-weight: 800;
  font-size: 36px;
  color: #474444;
  margin-bottom: 24px;
}
.login-page-main-text-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.login-page-main-text-bottom {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
.login-page-main-text-bottom-row-img {
  display: flex;
  gap: 24px;
}
.login-form {
  width: 100%;
  max-width: 305px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 15px;
}
.login-form-input {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #716b6b;
  text-align: end;
  border: 1px solid #979595;
  border-radius: 10px;
  background: #fff;
  padding: 12px;
  width: 100%;
}
.login-form-button {
  font-weight: 300;
  font-size: 20px;
  border-radius: 30px;
  color: #fff;
  background: #ff4b4b;
  max-width: 130px;
  padding: 5px 40px;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: #000;
  bottom: 0;
  padding: 18px 170px;
}
.footer-img-row {
  justify-content: flex-end;
  display: flex;
  gap: 20px;
}
.footer-img-row-image {
  width: 39px;
  height: 39px;
}

.fontWeight{
  font-weight: 400;
}

/* End Main Content */
