@import url(admin-page/business.css);
@import url(admin-page/reports.css);
@import url(admin-page/customers.css);

.content {
  padding-top: 20px;
  border-radius: 25px 25px 0 0;
  background: #fff;
}
.content-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1440px;
  margin: 0 auto 20px;
  padding: 0 10px;
}

.bg{
  background: linear-gradient(180deg, #f0dce4 0%, #e0dce4 59%, #e0dce4 73.6%, #e0dce4 100%);
}

.settings-section {
  background: linear-gradient(180deg, #f0dce4 0%, #e0dce4 59%, #e0dce4 73.6%, #e0dce4 100%);
  height: 100vh;
}

.content-input-inner {
  border: 1px solid #979595;
  border-radius: 10px;
  width: 100%;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  color: #716b6b;
  padding: 11px 13px;
}
.content-info {
  background: #dbeded;
}

.content-info-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-info-text {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.curent-section {
  font-weight: 700;
}
.content-info-func {
  display: flex;
  gap: 30px;
}
.content-info-func-img {
  cursor: pointer;
}

.currentPage {
  text-transform: capitalize;
}

.green {
  color: green;
  font-weight: 600;
}

.red {
  color: red;
  font-weight: 600;
}

.statusBlock {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.statusBlock.active {
  background-color: #f2bed5;
}

.statusBlock.empty {
  background-color: #eaedf3;
}

.edit-action-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.fast-action-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.fast-action-btn:hover {
  background-color: #0056b3;
}

.fast-actions-menu {
  position: absolute;
  top: 100%;
  z-index: 5;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  margin-top: 5px;
  width: 260px;
  overflow-y: scroll;
  border-radius: 5px;
}

.fast-action-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.fast-action-item:hover {
  background: #f1f1f1;
}