.InfoTableTitle {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px;
}
.InfoTableTitle-container {
  display: flex;
  justify-content: center;
  background-color: #e0ccec;
  padding: 10px;
}
.InfoTableTitle-block {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 430px;
  width: 100%;
}

.InfoTableTitle-block-text {
  font-weight: bold;
  font-size: 16px;
}

.InfoTable {
  background-color: #fff;
  min-height: 40vh;
  padding-bottom: 20px;
}
.InfoTable-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.InfoTable-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 430px;
  padding: 10px 15px;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.InfoTable-block-row {
  display: flex;
  justify-content: space-between;
}
.InfoTable-text {
  font-size: 16px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.BackTo-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 10px;
  cursor: pointer;
  width: 100px;
  background-color: #333333;
  color: #fff;
  border-radius: 10px;
  justify-content: center;
}

.info-button {
  width: 40px;
  cursor: pointer;
}

.SitesInnerBasic {
  max-width: 1380px;
  margin: 0 auto;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background: #f8fcfc;
  margin: 0 auto;
  padding: 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SitesInnerBasic-topInfo {
  background-color: #484444;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.SitesInnerBasic-topInfo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 450px;
  width: 100%;
}
.SitesInnerBasic-topInfo-block-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
.SitesInnerBasic-topInfo-block-img {
  border-radius: 20px;
  padding: 5px;
  width: 40px;
  height: 35px;
  color: #fff;
}

.SitesInnerBasic-content {
  max-width: 1380px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.SitesInnerBasic-content-block {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 5px 10px;
}
.SitesInnerBasic-content-block:last-child {
  border-left: 0px solid #000000;
}
.SitesInnerBasic-content-block:nth-child(3) {
  border-left: 0px solid #000000;
}
.SitesInnerBasic-content-block:first-child {
  border-right: 0px solid #000000;
}

.SitesInnerBasic-content-block-title {
  font-size: 28px;
  font-weight: bold;
  /* padding-bottom: 15px; */
}
.SitesInnerBasic-content-row {
  display: flex;
  gap: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
}
.SitesInnerBasic-content-row-text {
  font-size: 13px;
}

.status.Active {
  background-color: #d8ecbc;
}

.link.inActive {
  color: #828282 !important;
}

.icon-basic-user {
  width: 50px;
}

.SitesInnerBasic-content-row p:first-child {
  width: 50%;
}
.SitesInnerBasic-content-row p:last-child {
  width: 50%;
}

.link {
  color: #1b97f3;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px !important;
}

.location.exit {
  background-color: #f7efdc;
}

.location.Active {
  background: #d8ecbc;
}

.location {
  text-align: center;
  width: 125px;
  padding: 8px;
  border-radius: 10px;
}

.alertsButton {
  width: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.statusActionButton {
  padding: 10px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s ease;
  color: #ffffff;
}
